button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 20px;
  border: none;
  background-color: rgba(168, 168, 168, 0.521);
  cursor: pointer;
  transition: 0.15s;
}
button:hover {
  filter: brightness(150%);
  transform: scale(1.05);
}
#lamp-parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100px;
}
#robe {
  width: 5px;
  height: 100px;
  background-color: rgba(199, 147, 123, 0.747);
}
#lamp-handle {
  background-color: rgb(160, 174, 180);
  width: 50px;
  height: 60px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: 0 25px;
  margin-bottom: -20px;
}
#outside-lamp {
  background-color: rgb(13, 17, 23);
  width: 120px;
  height: 120px;
  border-radius: 100px;
}
#lamp {
  width: 120px;
  height: 120px;
  background-color: rgba(208, 218, 63, 0.445);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#inside-lamp {
  background-color: rgba(238, 255, 143, 0.267);
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

#remote-control {
  margin-top: 10px;
  background-color: rgba(59, 59, 59, 0.452);
  width: 350px;
  height: 70px;
  border-radius: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
  gap: 10px;
  transition: 0.2s;
  backdrop-filter: blur(5px);
}
#remote-control:hover {
  transform: scale(1.1);
  background-color: rgba(31, 31, 31, 0.404);
  backdrop-filter: blur(20px);
}